<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ cupcake["name"] }}</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <header>{{ cupcake["name"] }}</header>
</body>
<main>
    <a href="{{ url_for('home') }}"><h6>home</h6></a> 

    <div class="cupcake-container">
        <h3>{{ cupcake["name"] }}</h3>
        <h4>Flavor: {{ cupcake["flavor"] }}</h4>
        <h4>Frosting: {{ cupcake["frosting"] }}</h4>
        <h4>Price: ${{ cupcake["price"] }}</h4>
        <a href="{{ url_for('add_cupcake', name=cupcake['name']) }}">
            <button>Add to Cart</button>
        </a>
    </div>
</main>

</html>